body {
    height: 100%;
    width: 100%;
}

h2 {
    color: white;
}

.container {
    display: flex;
}

.item, .receiver {
    height: 200px;
    width: 300px;
    border: 2px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover {
    cursor: pointer;
}

.item.item-1 {
    background-color: red;
}

.item.item-2 {
    background-color: yellow;
}

.item.item-2 > h2 {
    color: black;
}

.item.item-3 {
    background-color: blue;
}

.receiver.item-receiver {
    background-color: #CCC;
}

.receiver.item-receiver.over {
    border: 2px dashed #333;
}
